#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #999;
}
body {
    background-color: #0b5e8a;
}
header {
    background-color: #0b5e8a;
}
nav a:hover {
    background-color: white;
    color: #0b5e8a;
}
.book, .join {
    background-color: #0b5e8a;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.book:hover, .join:hover {
    background-color: white;
    color: #0b5e8a;
}
.msg {
    background-color: #0b5e8a;
}
footer {
    background-color: #0b5e8a;
    color: white;
    text-align: center;
}
.home-title {
    color: white;
    font-size: 3.5em;
}
h4 {
    color: white;
    font-size: 1.5em;
}
.msg h2 {
    color: white;
    font-size: 2.2em;
}
.msg p {
    color: white;
    font-size: 24px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    background-color: white;
    color: #0b5e8a;
}
h2 {
    color: white;
}
#hero-img {
    width: 100%;
}
.icon {
    width: 80px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    background-color: white;
    color: #0b5e8a;
    text-decoration: underline;
}
.logo {
    width: 80px;
}