
body {
    font-family: "Times New Roman", Times, serif;
    /* background-color: white; */
}
.home-grid {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
}
h1 {
    grid-column: 1/5;
    grid-row: 2/3;
    z-index: 1;
    text-align: center;
    font-size: 120px;
}
img {
    grid-column: 1/3;
    grid-row: 1/5;
}
div {
    grid-column: 3/5;
    grid-row: 1/5;
    background-color: darkgray;
}
p {
    grid-column: 3/5;
    grid-row: 3/5;
    color: darkred;
    text-align: center;
    font-size: 80px;
    z-index: 1;

}