header img {
    width: 100%;
    margin: 0;
}

footer img {
    border-radius: 50%;
    width: 15%;
    border: 10px solid #343a40;
    margin: 25px 8%;
}

footer {
    margin: 0;
}

body {
    background-color: #6c757d;
    margin: 0;
}