@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0px;
    background-color: #d9d9d9;
    width: 100%;
    z-index: 1000;
}

.menu-container{
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-btn{
    flex: 3;
    display: flex;
}

.nav-links{
    flex: 2;
}

.logo{
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span{
    font-weight: 300;
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
}

.nav-link > a{
    line-height: 3rem;
    color: #000;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    transform: scale(1.1);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul{
    position: relative;
}

.dropdown-link > a{
    display: flex;
    background-color: #d9d9d9;
    color: #000;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover > a{
    background-color: #d12c23;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #d9d9d9;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow{
    background-color: #d12c23;
}

.dropdown-link{
    position: relative;
}

.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}

.hamburger-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

.hero-title{
    color: #D12C23;
    font-size: 3rem;
    font-weight: 500;
}

.hero-img{
    width: 300px;
    margin-top: 55px;
}
.hero-p {
  font-size: 1.5rem;
}

#hero-msg {
  margin: 80px auto;
}

.home-text {
  font-size: 1.1rem;
  margin: 0 45px;
}

.index-h2 {
  background-color: #d9d9d9;
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  margin: 80px 80px;
  border-left: 10px solid #000;
}

.n5-vocab, .n4-vocab, .n5-grammar, .n4-grammar, .n5-kanji, .n4-kanji {
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.learn-vocabulary::after, .learn-grammar::after, .learn-kanji::after {
  content: "";
  clear: both;
  display: table;
  box-sizing: border-box;
}


/* SLIDE SHOW GALLERY*/

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  box-sizing: border-box;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
  box-sizing: border-box;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  box-sizing: border-box;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  box-sizing: border-box;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  box-sizing: border-box;
}

.active,
.demo:hover {
  opacity: 1;
  box-sizing: border-box;
}

.row {
  width: 60%;
  margin: 0 auto;
}

footer{
  background-color: #d9d9d9;
  padding: 100px 0 30px;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: 35px;
}

footer .f-row{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer .f-row .f-col{
  flex-basis: 20%;
  padding: 10px;
}

footer .f-row .f-col .f-logo {
  color: #000;
  text-transform: uppercase;
  display: block;
  margin-bottom: 40px;
  text-decoration: none;
  font-size: 1.5em;
}

footer .f-row .f-col h3{
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

footer .f-row .f-col h3::after{
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #d12c23;
}

footer .f-row .f-col li{
  list-style: none;
  margin-bottom: 12px;
}

footer .f-row .f-col li a{
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  transition: .3s;
}

footer .f-row .f-col li a:hover{
  color: #d12c23;
  padding-left: 2px;
}

footer .f-row .f-col:nth-child(2) {
  flex-basis: 15%;
}

footer .f-row .f-col:nth-child(3) li{
  margin-bottom: 12px;
  text-transform: capitalize;
}

footer .f-row .f-col i{
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  margin-left: 8px;
  cursor: pointer;
  color: #000;
  text-align: center;
  transition: .3s;
}

footer .f-row .f-col i:hover{
  border: transparent;
}

.f-logo{
  font-weight: 600;
}

.f-logo span{
  font-weight: 300;
}

.p-beta{
  font-size: 1.1em;
  margin-top: 30px;
}

.copy{
  font-size: 1em;
  margin: 20px auto; 
  font-weight: 400;
}

footer .f-row .f-col .fa-facebook-f:hover{
  background-color: #1d1096;
  color: #fff;
}

footer .f-row .f-col .fa-instagram:hover {
  background-color: #96105c;
  color: #fff;
}
footer .f-row .f-col .fa-twitter:hover {
  background-color: #108996;
  color: #fff;
}


/* ABOUT PAGE */


.about-us {
  width: 100%;
  height: 300px;
  background-color: #dfdfdf;
}

.about-us h1 {
  align-items: center;
  padding-top: 100px;
  font-weight: 500;
}

.about-p {
  width: 10%;
  border-bottom: 2px solid black;
  margin: 50px auto 25px auto ;
  font-size: 1em;
  font-weight: 500;
}

.about-h2 {
  background: transparent;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 100px;
}

/* Create two equal columns that floats next to each other */
.about-column {
  float: left;
  width: 50%;
  padding: 20px;
}

/* Clear floats after the columns */
.about-row::after {
  content: "";
  display: table;
  clear: both;
}

.about-column h3 {
  margin-bottom: 25px;
  font-weight: 500;
}

#about-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 3em auto auto auto;
  text-align: center;
  line-height: 3em;
}

#about-card h1 {
  font-weight: 500;
}

.card-title {
  color: grey;
  font-size: 18px;
}

.about-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 14px;
  color: black;
  background-color: #d9d9d9;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.about-a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  padding: 6px;
}

.about-button:hover {
  background-color: #d12c23;
  color: #fff;
}

.about-a .fa-linkedin:hover {
  color: #0d0080;
}

.about-a .fa-facebook-f:hover{
  color: #2614c5;
}
.about-a .fa-instagram:hover {
  color: #96105c;
}
.about-a .fa-twitter:hover {
  color: #108996;
}

.about-creator-bt {
  margin-top: 25px;
  background-color: #d9d9d9;
  padding: 8px 35px;
  cursor: pointer;
  border: none;  
}

.about-creator-bt:hover {
  margin-top: 25px;
  background-color: #d12c23;
  color: #fff;
  padding: 8px 35px;
  cursor: pointer;
  border: none;
  transition-duration: 0.5s;
}

#about-creator {
  padding: 25px 0;
  /*background: url("../images/rsz_2jp-background.jpg");*/
  /*background-size: cover;*/
  text-align: center;
  color: black;
  margin: 25px 50px;
  line-height: 2em;
}

#about-creator:hover {
  padding: 25px 0;
  /*background: url("../images/rsz_2jp-background.jpg");*/
  /*background-size: cover;*/
  border: none;
  background-color: #d12c23;
  color: #fff;
  margin: 25px 50px;
  transition-duration: 0.8s;
}


/* N5 VOCABULARY PAGE */

.h1-title {
  font-weight: 500;
  margin: 60px auto 50px auto;
}

.p-title {
  width: 15%;
  border-left: 4px solid black;
  margin: auto auto 50px auto;
  font-size: 1em;
  font-weight: 500;
  background-color: #d9d9d9;
}

.p-paragraph {
  padding-bottom: 60px;
  margin: auto 250px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
  margin: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: #000;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(even):hover {
  background-color: #ff3d3d;
}

/*tr:nth-child(odd):hover {
  background-color: #2be088;
}*/

/* STYLING PAGES*/

.everyday-jp-h1 {
  background-color: #d12c23;
  margin: 100px 150px 0 150px;
  font-weight: 500;
}

.everyday-jp-h2 {
  background-color: #d9d9d9;
  margin: 0 150px 80px 150px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 500;
}

.everyday-jp-h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}

.everyday-jp-p {
  margin-bottom: 80px;
  font-size: 20px;
}

.toggle-txt {
  margin: auto 200px;
  font-size: 18px;
}

.everyday-jp-h4 {
  text-align: left;
  margin: 100px auto 8px 150px;
  font-size: 24px;
  font-weight: 500;
}

.span-example {
  color: #d12c23;
}

.p-example {
  background-color: #dddddd;
  text-align: left;
  margin: 0 800px 8px 150px;
  padding: 15px;
  font-size: 20px;
}

.furigana-ex {
  background-color: #2be08850;
  text-align: left;
  margin: 0 800px 8px 150px;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
}

.romaji-ex {
  background-color: #1cc6fa50;
  text-align: left;
  margin: 0 800px 8px 150px;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
}

.english-ex {
  background-color: #b068f950;
  text-align: left;
  margin: 0 800px 8px 150px;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
}


/* TOGGLE BUTTONS */

.toggle-buttons {
  display: flex;
  align-items: start;
  margin-left: 140px;
}

.furigana-bt {
  margin: 10px;
  background-color: #2be088;
  padding: 10px;
  cursor: pointer;
  border: none;

}

.romaji-bt {
  margin: 10px;
  background-color: #1cc6fa;
  padding: 10px;
  cursor: pointer;
  border: none;  
}

.english-bt {
  margin: 10px;
  background-color: #b068f9;
  padding: 10px;
  cursor: pointer;
  border: none;
}

@keyframes animation{
  from{
      opacity: 0;
      transform: translateY(15px);
  }
  to{
      opacity: 1;
      transform: translateY(0px);
  }
}

@media (max-width: 920px){
  .hamburger-menu-container{
      display: flex;
  }

  #check{
      display: block;
  }

  .nav-btn{
      position: fixed;
      height: calc(100vh - 3rem);
      top: 3rem;
      left: 0;
      width: 100%;
      background-color: #d9d9d9;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      overflow-x: hidden;
      overflow-y: auto;
      transform: translateX(100%);
      transition: .65s;
  }

  #check:checked ~ .nav-btn{
      transform: translateX(0);
  }

  #check:checked ~ .nav-btn .nav-link{
      animation: animation .5s ease forwards var(--i);
  }

  .nav-links{
      flex: initial;
      width: 100%;
  }

  .nav-links > ul{
      flex-direction: column;
  }

  .nav-link{
      width: 100%;
      opacity: 0;
      transform: translateY(15px);
  }

  .nav-link > a{
      line-height: 1;
      padding: 1.6rem 2rem;
  }

  .nav-link:hover > a{
      transform: scale(1);
      background-color: #d12c23;
  }

  .dropdown, .dropdown.second{
      position: initial;
      top: initial;
      left: initial;
      transform: initial;
      opacity: 1;
      pointer-events: auto;
      width: 100%;
      padding: 0;
      background-color: #d9d9d9;
      display: none;
  }
  
  .nav-link:hover > .dropdown,
  .dropdown-link:hover > .dropdown{
      display: block;
  }

  .nav-link:hover > a > i,
  .dropdown-link:hover > a > i{
      transform: rotate(360deg);
  }

  .dropdown-link > a{
      background-color: transparent;
      color: #000;
      padding: 1.2rem 2rem;
      line-height: 1;
  }

  .dropdown.second .dropdown-link > a{
      padding: 1.2rem 2rem 1.2rem 3rem;
  }

  .dropdown.second .dropdown.second .dropdown-link > a{
      padding: 1.2rem 2rem 1.2rem 4rem;
  }

  .dropdown-link:not(:nth-last-child(2)){
      border-bottom: none;
  }

  .arrow{
      z-index: 1;
      background-color: #d12c23;
      left: 10%;
      transform: scale(1.1) rotate(45deg);
      transition: .5s;
  }

  .nav-link:hover .arrow{
      background-color: #d12c23;
  }

  .dropdown .dropdown .arrow{
      display: none;
  }

  .dropdown-link:hover > a{
      background-color: #e13a32;
  }

  .dropdown-link:first-child:hover ~ .arrow{
      background-color: #d12c23;
  }

  .nav-link > a > i{
      font-size: 1.1rem;
      transform: rotate(-90deg);
      transition: .7s;
  }

  .dropdown i{
      font-size: 1rem;
      transition: .7s;
  }

  footer{
      position: unset;
  }
  
  footer .f-row .f-col{
      flex-basis: 100%;
      padding: 0;
      margin-bottom: 10px;
  }
  
}